<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.user.synergy-rcmd-focus-remap</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/python3</string>
		<string>@HOME@/.local/bin/synergy-rcmd-focus-remap.py</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>@HOME@/.local/state/synergy-rcmd-focus.log</string>
	<key>StandardErrorPath</key>
	<string>@HOME@/.local/state/synergy-rcmd-focus.err</string>
</dict>
</plist>